.styleBox {
    height: 55vh;
    box-shadow:  -10px -10px rgb(22, 101, 204), 0px 0px 20px 5px rgb(243, 94, 121); 
    margin-top: 10%;

}
.bg {
    background-color: rgb(128, 188, 245);
}
.logo {
    margin-top: 6px;
}
.logoColor {
    font-family: 'Russo One', sans-serif;
}
.navbarColor {
    background-color: rgb(22, 44, 165);
    border: none;
    padding-bottom: 0;
    margin-bottom: 0px;
    height: 8vh;
}
.fontNavbar {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
}
.slider {
    margin-bottom: 15px;
    padding-top: 0px;
}
.car-css{
 text-align: center;
 background: rgb(228, 231, 25);
 margin-left: 25%;
 color: black;
 font-family: fantasy;
 font-size: 20px;
}
.product-container{
 margin-top: 5%; 
}
.text{
 text-align: center;
 font-size: 30px;
 font-family: fantasy;
 color: rgb(8, 8, 0);
 margin-bottom: 2%;
}
.fo{
 color: aliceblue;
 font-size: 20px;
}